<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qijiv.infrastructure.persistent.dao.IRaffleActivityAccountFlowDao">

    <resultMap id="RaffleActivityAccountFlowMap" type="cn.qijiv.infrastructure.persistent.po.RaffleActivityAccountFlowPO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="activity_id" property="activityId"/>
        <result column="total_count" property="totalCount"/>
        <result column="day_count" property="dayCount"/>
        <result column="month_count" property="monthCount"/>
        <result column="flow_id" property="flowId"/>
        <result column="flow_channel" property="flowChannel"/>
        <result column="biz_id" property="bizId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="cn.qijiv.infrastructure.persistent.po.RaffleActivityAccountFlowPO">
        INSERT INTO raffle_activity_account_flow
            (user_id, activity_id, total_count, day_count, month_count, flow_id, flow_channel, biz_id)
        VALUES
            (#{userId}, #{activityId}, #{totalCount}, #{dayCount}, #{monthCount},
             #{flowId}, #{flowChannel}, #{bizId})
    </insert>

    <select id="queryRaffleActivityAccountFlowByUserId" resultMap="RaffleActivityAccountFlowMap">
        SELECT id, user_id, activity_id, total_count, day_count, month_count, flow_id,
               flow_channel, biz_id, create_time, update_time
        FROM raffle_activity_account_flow
        WHERE user_id = #{userId}
        ORDER BY id DESC
    </select>

</mapper>
